:root {


  --backgroundColor: #373737;
  --backgroundColor2: #7A82AB;
  --textColor: #fff;
  --btnColor: #BA2D0B;
  --accColor: 	#3c6e71;
  --offWhite: #EEE5E9;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Krona One";

 
}



header {
  color: var(--textColor);
}


body {
  text-align: center;
  background-image: url('/assets/images/homepage-food.webp');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.btn {
  margin: auto;
  background-color: var(--btnColor);
  display: inline-block;
  border-radius:10px ;
}



#homepageImg{
margin: 10px;
align-items: center;



}

#searchBar {
  height: 46px;
  border-radius: 48px;
  border: 2px solid black;
  width: 100%;
  padding-right: 40px;
  padding-left: 10px;
  background-color: white;
  margin-bottom: 20px;

} 

.bottom-margin {
    margin-bottom: 70%;
}

.bgColor{
  background-color: var(--backgroundColor);
}

.bgColor2{
  background-color: var(--backgroundColor2);
}

.btnColor{
  background-color: var(--btnColor);
}

.accColor{
  background-color: var(--accColor);
}

.txtColor {
  color: var(--textColor);
}

.offWhite {
  background-color: var(--offWhite);
}

.txtOffWhite {
  color: var(--offWhite);
}